@model FSventasCore11.Models.Dirrecion.Sectores

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sectores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DistritosMunicipales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DistritosMunicipales.DistritoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ParajeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
